.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: #0A0909;
    width: 100%;
    margin-top: 70px;
}

@keyframes gradientAnimation {
    0%, 100% {
        background-image: linear-gradient(45deg, #ff6b6b, #4ecdc4);
    }
    50% {
        background-image: linear-gradient(to right, #f05800, #00c9fc);
    }
}

.gradientText {
    font-size: 3.5rem;
    font-weight: bold;
    background-image: linear-gradient(45deg, #ff6b6b, #4ecdc4);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
    text-align: center;
    animation: gradientAnimation 6s ease-in-out infinite;
}

.videoContainer {
    display: flex;
    justify-content: center;
    gap: 10rem;
    flex-wrap: wrap;
}

.videoWrapper {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

.videoWrapper video {
    border-radius: 10px;
    width: 635px;
    height: 635px;
    padding: 4px;
    object-fit: cover; 
    --border-angle: 0turn; 
    --main-bg: conic-gradient(
        from var(--border-angle),
        #213,
        #112 5%,
        #112 60%,
        #213 95%
    );
    
    border: solid 5px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
    
    background: 
        var(--main-bg) padding-box,
        var(--gradient-border) border-box, 
        var(--main-bg) border-box;
    
    background-position: center center;

    animation: bg-spin 3s linear infinite;
}

.videoWrapper video:hover {
    animation-play-state: paused;
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

@media screen and (max-width: 800px){

    .container{
        margin-top: 10px;
    }
    .videoWrapper video {
        width: 100%;
        height: auto;
        object-fit: fill;
    }

    .videoWrapper {
        margin: 0 10px;
    }

    .gradientText{
        font-size: 1.5rem;
    }

    .videoContainer{
        gap: 2rem;
    }
}